header{
    text-align: center;
    font-size: 20px;
}

header img{
    background-color: blue;
}

body {
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
